.main {
  min-height: 100vh;
  background-color: #fff;
}

.CardWrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media screen and (min-width: 800px) {
  .CardWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
